* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #d9d9d9;
  height: 90px; /* Ajustez la hauteur selon vos besoins */
}
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  margin: 20px 0;
  text-align: center;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 8px;
}

input[type="submit"] {
  padding: 8px 12px;
  background-color: #fbff00;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


select {
  padding: 8px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s; /* Ajoute une transition sur la propriété box-shadow */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Changement de l'ombre lors du survol */
}



/* Styles pour le footer */
.footer {
    
    
  padding: 50px 0;
  margin-top: 20px;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  text-align: center;
  margin: 0;
} 



.p .a {

  color: #0096ED;
  float: left;
  width: 20px;
}


.footer .h5{

  color:black;
}