html, body {   

background-color: rgb(240,240,240);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width:100%;
height:100%;                                       
display:flex;
justify-content: center;
align-items: center;   
padding-top: 56px; /* Hauteur de la barre de navigation */
}


#cld{
width: 80%; /* Définit la largeur du calendrier à 80% */
height: 90%;
background-color:#E4E4E4;
box-shadow: 0 0 10px  #0096ED;
}

#entetecld{
    width: 100%;
    height: 18%;
    background-color: #0096ED;
    display: flex;
    flex-direction: column;
}

#cldT{
    width: 100%;
    height: 66.666%;
    color: white;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avantEtApres{
    width: 100%;
    height: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;

}

.cldBtn{
    width: 20%;
    height: 100%;
    border:none;
    background-color: white;
    outline: none;
    transition: 0.2s;
}

.cldBtn:hover{
    background-color:#0096ED;
}

#cldBoite{
    width: 100%;
    height: 82%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#jours{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #0096ED;
   
}

.jour{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:white;
    margin: 0;
    font-size: 18px;

}

.semaine{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.case{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 0.1s;
    color:black;
    margin: 0;
    font-size: 19px;
    
}

.case:hover{
    background-color: #0096ED;
   
}


/*  ////////////////////////////////////////////////////////////////////////LE FOOTER /////////////////////////////////////////////////////////////////////////// 


footer {
    height: 100px; /* Définit la hauteur du footer à 100px 
    background-color: #E4E4E4;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:none;
}

.p .a {

    color: #0096ED;
    float: left;
    width: 20px;
}


.footer .h5{

    color:black;
}
*/ 