/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Navbar:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.navbar {
    top: 0;
    width: 100%;
    background-color: #0096ED;
    padding: 10px 0; 
    z-index: 1000; /* Assurez-vous que la barre de navigation est au-dessus du reste du contenu */
}

.navbar-brand {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    color: white; 
}

/*  ///////////////////////////////CODE////////////////////////////////////////// */


*{
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

html, body {
    height: 100%;
}


.main-content {
    flex: 1;
}



#cld {
    width: 80%;
    height: 90%;
    background-color: #E4E4E4;
    box-shadow: 0 0 10px #0096ED;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto; /* Ajoutez une barre de défilement vertical si nécessaire */
}



#entetecld{
    width: 100%;
    height: 18%;
    background-color: #0096ED;
    display: flex;
    flex-direction: column;
}

#cldT{
    width: 100%;
    height: 66.666%;
    color: white;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avantEtApres{
    width: 100%;
    height: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;

}

.cldBtn{
    width: 20%;
    height: 100%;
    border:none;
    background-color: white;
    outline: none;
    transition: 0.2s;
}

.cldBtn:hover{
    background-color:#0096ED;
}

#cldBoite{
    width: 100%;
    height: 82%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#jours{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #0096ED;
   
}

.jour{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:white;
    margin: 0;
    font-size: 18px;

}

.semaine{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.case{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 0.1s;
    color:black;
    margin: 0;
    font-size: 19px;
    
}

.case:hover{
    background-color: #0096ED;
   
}



/*  ////////////////////////////////////////////////////////////////////////LE FOOTER /////////////////////////////////////////////////////////////////////////// */



.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer h3 {
    color: #fff;
}

.footer p {
    color: #ccc;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
}

.footer-bottom p {
    text-align: center;
    margin: 0;
} 

.p .a {
    color: #0096ED;
    float: left;
    width: 20px;
}

.footer .h5 {
    color: black;
}
