
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


section {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

section .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(transparent, #0096ED), url("../assets/imgs/noir.jpg");
    background-position : center;
    background-size: cover;
}

section .contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
}

section h2 {    
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #0096ED;
    letter-spacing: 1px;
    display: inline-block;
}

.inputBx {
    margin-bottom: 20px;
}

.inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
}

.inputBx input {
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid black;
    letter-spacing: 1px;
    outline: none;
    background-color: transparent;
    border-radius: 1px;
    color:black;
}

.inputBx input[type="submit"] {
    background-color: #0096ED;          /*simple couleur du bouton */
    outline: 0;
    border: 0;
    font-weight: 600;         /* mettre la même couleur mais un peu plus clair pour que quand on passe dessus ca fasse un effet */ 
    cursor: pointer;
   
}

.inputBx input[type="submit"]:hover {
    background-color: yellow;                  /* ici c'est la couleur du bouton quand on passe dessus */
}

.remember {
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.inputBx p {
    color: black;
    text-align: center;

}

.inputBx p a {
    color: #0096ED;

}


/*Pour que ce soit responsif*/
@media(max-width:768px) {
    section .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBox {
        width: 100%;
        z-index: 1;

    }

    section .contentBox .formBox {
        width: 100%;
        background-color: black;
        padding: 40px;
    }
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

body{
    background-color: white;

}

.navbar{
    background-color: red;
    color: red;
}


/*  ////////////////////////////////////////////////////////////////////////LE FOOTER ///////////////////////////////////////////////////////////////////////////*/ 



.p .a {

    color: #0096ED;
    float: left;
    width: 20px;
}


.footer .h5{

    color:black;
}