*, ::before, ::after {
box-sizing: border-box;
margin: 0;
padding:0;
font-family: 'Montserrat', sans-serif;

}

body {
  min-height: 100vh;
  background: #E4E4E4;
}

.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto; /* Adjust margin as needed */
  padding: 20px;
}


.container .filter {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#Boutton button {
  padding: 10px 20px;
  font-size: 18px;
  background: #fff;
  border: none;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  border-radius: 7px;
  cursor: pointer;
}

#Boutton button.active {
  background: rgb(130, 189, 238);
  color: #f1f1f1;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  background: #fff;
  padding: 3px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h6 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.card-content p {
  font-size: 18px;
}


.filtre {
  display: none;
}

/*     //////////////////////////////////////////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////////////////////  */

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}





/*  ////////////////////////////////////////////////////////////////////////LE FOOTER ///////////////////////////////////////////////////////////////////////////  */ 


.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  text-align: center;
  margin: 0;
}

.p .a {

  color: #0096ED;
  float: left;
  width: 20px;
}


.footer .h5{

  color:black;
}