/* Ajoutez cette règle pour définir une image de fond pour le body */
body {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Style pour la barre de navigation */
.navbar {
    background-color: #343a40; /* Une couleur de fond plus sombre en cas d'échec du chargement de l'image */
    background-image: url('');
    background-size: cover; /* Pour couvrir la navbar */
    background-position: center; /* Pour centrer l'image */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    padding: 20px; /* Ajout d'un espace intérieur pour agrandir la navbar */
    color: white; /* Texte de la barre de navigation en blanc */
}

/* Autres styles pour la navbar restent les mêmes */
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem; /* Taille de police augmentée */
    font-weight: bold; /* Texte plus gras */
}

.navbar-toggler-icon {
    border: 2px solid white; /* Icône du bouton de bascule en blanc */
}

.nav-link {
    color: white; /* Couleur du texte des liens */
}

.nav-link:hover {
    color: #f8f9fa; /* Couleur du texte des liens au survol */
}

/* Style pour le formulaire de recherche */
.form-inline {
    margin-left: auto; /* Alignement du formulaire à droite */
}

.form-control {
    margin-right: 5px;
    border-color: white; /* Couleur de la bordure du champ de recherche */
}

/* Ajoutez d'autres styles au besoin */

/* Votre CSS existant continue ici */
